.signup-popup {
  width: 200px;
  position: fixed;
  right: 0;
  top: 58px;
  background-color: white;
  z-index: 2000;
  display: none;
}

@media (max-width: 39.75rem) {
  .signup-popup {
    top: 130px;
  }
}

.signup-popup.is-shown {
  display: block;
}


.main-sign-in-box {
  display: flex;
  justify-content: center;
}

.sign-in-box {
background-color: orange;
width: 100px;
display: flex;
justify-content: center;
align-items: center;
align-content: center;
padding-top: 8px;
padding-bottom: 8px;
padding-left: 30px;
padding-right: 30px;
border-radius: 4px;
}

.sign-up-prompt {
  display: flex;
  align-items: center;
  width: 100px;
  margin-left: 10px;
  text-decoration: none;
}

.sign-up-text {
  color: black;
}


.user-icon {
  width: 20px;
}

.faq-icon {
  width: 25px;
}

.icon-container {
  margin-right: 20px;
}
